@charset "UTF-8";
/* CSS Document */
#data_sink{
	font-size:10px;
}
#data_source{
        font-size:10px;
}
#module{
        font-size:10px;
}
label {
	margin-top: 10px;
	width: 12em;
	float: left;
	text-align: left;
	margin-right: -2em;
	display: block
}
input {
	font-size:10px;
	margin-top: 10px;
}
.submit input {
	margin-left: 4.5em;
}
textarea{
	margin-top: 10px;
}