html {
	margin: 10px 0 0 0;
	font-family: sans-serif;
	font-size: 12px;
}
	
#wrapper{
	background-color: #e4e4e4;
	padding: 20px 3px 3px 3px;
	border-radius:5px;
	border: 1px solid #CCC;
	margin: -20px 0 0 0;
}

#module-groupings{
	padding: 12px;
	background-color: #ededed;
	border: 1px solid #a0a0a0;
	height: 15px;
}
#module-title{
	float: left;
	text-align: left;
	width: 90%;
	
}
#module-settings{
	float: right;
	text-align: right;
	width: 10%;
}
#button-settings{
	cursor: pointer;
}
.button-close{
	background-image: url(../images/close-icon.gif);
	margin-right: 10px;
}
.button-close:hover{
	background-image: url(../images/close-icon-hover.gif);
}

#button-add{
	background-image: url(../images/add-icon.gif);
}
#button-add:hover{
	background-image: url(../images/add-icon-hover.gif);
}
#canvas-body{
	border: 1px solid #a0a0a0;
	height: 300px;
	background-color: #fff;
}
.canvas{
	height: 300px;
}
.popup-controller-title{
	/* FF3.6 Firefox */
	background-image:  -moz-linear-gradient(top, #dcdcdc, #c3c3c3); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #dcdcdc),color-stop(1, #c3c3c3)); 
 
/* IE6,IE7
For IE6 and IE7 we give the native Microsoft filter effect that has been specified by Microsoft for its browsers.
*/
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#dcdcdc', EndColorStr='#c3c3c3'); 
 
/* IE8
for IE8 we give its native filter.
*/
 	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#dcdcdc', EndColorStr='#c3c3c3')";
	height:8px;
	width:440px;
	padding: 10px;
	border: 1px solid #999;
	border-radius: 5px 5px 0 0;
	font-weight:bold; 
	text-shadow:0px 1px 0px #FFF;
	
}
.popup-controller{
	position:absolute;
	width:440px;
	height: auto;
	background-color:#ededed;
	padding: 10px;
	border: 1px solid #999;
}
.popup{
	width: 500px;
	background-color: #290;
}

.popup-content{
	background-color: #e4e4e4;
	padding: 20px 3px 3px 3px;
	border-radius:5px;
	border: 1px solid #CCC;
	margin: -20px 0 0 0;
	width:98%;
}
.popup-tab{
	margin-top:-5px;
	padding: 5px 10px 5px 10px;
	background-color:#ededed;
}

#popup-module{
	width: 440px;
}
.close-popup{
	background-image:url(../images/close-popup.gif);
}
.close-popup:hover{
	background-image:url(../images/close-popup-hover.gif);
}

.popUpObjectBox{
  margin-left:50%;
  left: -220px;
  position: absolute;
  top: 20px;
  z-index:200;
}