@charset "UTF-8";
/* CSS Document */

.menuStyle{
	background-color:#FFF;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333;
	width: 160px;
	border:1px solid gray;
	border-radius:3px;
	moz-border-radius:3px;
	webkit-border-radius:3px;
	-moz-box-shadow: 0 0 20px 1px #CCC;
	-webkit-box-shadow: 0 0 20px 1px #CCC;
}
ul.menu, ul.menu ul{
	margin: 10px 0;
	padding: 0;
	list-style-type:none;
	cursor:pointer;
}
ul.menu li{
	padding:4px 4px 4px 18px;
	position: relative;
}
ul.menu li:hover{
	background-color:#36F;
	color:#FFF;
	padding:4px 4px 4px 18px;
}
ul.menu ul{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -8px;
	position: absolute;
	width: 160px;
	display: none;
	border:1px solid gray;
	border-radius:3px;
	moz-border-radius:3px;
	webkit-border-radius:3px;
	-moz-box-shadow: 0 0 20px 1px #CCC;
	-webkit-box-shadow: 0 0 20px 1px #CCC;
	color: #333;
}
ul.menu li:hover > ul{
	display: block;
	left: 161px;
	top: -5px;
}
.endBlock{
	border-bottom:1px solid #DDD;
}


