/* ------------------------------
	
	TABS MENU

------------------------------- */
#tabs-menu{
	width: 100%;
	margin: -15px;
	height: 34px;
	font-weight: bolder;
}
.popups{
	width: 100%;
	margin: -15px;
	height: 34px;
	font-weight: bolder;
}

ul.tabs, ul.tabs ul{
	list-style-type: none;
}
ul.tabs li:first-child{
	background-color: #f4f4f4;
	border-top: 1px solid #8c8b8b;
	border-left: 1px solid #8c8b8b;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #8c8b8b;
	border-radius: 5px 0px 0px 5px;
	margin-right: -4px; //offset fixing
}
ul.tabs li:last-child{ //plus button
	background-color: #f4f4f4;
	border-top: 1px solid #8c8b8b;
	border-left: 1px solid #CCC;
	border-right: 1px solid #8c8b8b;
	border-bottom: 1px solid #8c8b8b;
	border-radius: 0px 5px 5px 0px;
}
ul.tabs li{
/* FF3.6 Firefox */
	background-image:  -moz-linear-gradient(top, #e0e0e0, #f6f6f6); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e0e0e0),color-stop(1, #f6f6f6)); 
 
/* IE6,IE7
For IE6 and IE7 we give the native Microsoft filter effect that has been specified by Microsoft for its browsers.
*/
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#e0e0e0', EndColorStr='#f6f6f6'); 
 
/* IE8
for IE8 we give its native filter.
*/
 	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#a9c850', EndColorStr='#8ba246')"; 
	
	display: inline-block; //display horizontally
	height: 34px;
	padding: 3px 20px 3px 20px;
	margin-left:-3px;
	background-color: #f4f4f4;
	border-top: 1px solid #8c8b8b;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #8c8b8b;
	font-weight:bold;
	text-shadow: 0px 1px 0px #fff;
}
ul.tabs li:hover{
	cursor: pointer;
	background-image:  -moz-linear-gradient(top, #979797, #a8a8a8); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #979797),color-stop(1, #a8a8a8)); 
 
/* IE6,IE7
For IE6 and IE7 we give the native Microsoft filter effect that has been specified by Microsoft for its browsers.
*/
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#979797', EndColorStr='#a8a8a8'); 
 
/* IE8
for IE8 we give its native filter.
*/
 	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#979797', EndColorStr='#a8a8a8')"; 
	color: #FFF;
	text-shadow: 1px 1px 0px #000;
}

ul.tabs ul {
	margin: 0;
	display: none;
}

ul.tabs li:hover ul{
	display: inline-block;
	position: absolute;
}



